@tailwind base;
@tailwind components;
@tailwind utilities;



/* Banner */
.banner__main{
    display: grid;
    grid-template-rows: 26.4634146% 3.0487805% 23.4146341% 5.9756098% 0 21.3414634% 2.0731707% 1.9512195% .1219512%;
    grid-template-columns: 10.6060606% 4.1414141% 4.6969697% 9.7474747% 6.8181818% 16.1616162% 7.6262626% 15.9090909% 6.969697% auto;
    grid-gap: calc((100vh - 64px) * .019138756);
    height: 100%;
    padding-top: calc((100vh - 64px) * .019138756);
}
.banner__child{
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  /* position: relative; */
}
.banner{
  display: block;
  transform: scale(1) translateX(0px) translateY(0px);
  margin-top: 32px;
}


/* ==============  Menu ===============*/
.menu__ul li a{
  @apply hover:bg-red-500 hover:text-[#ff9933] p-2 rounded hover:text-white
}
.menu__ul li{
  @apply inline ml-6 w-full
}

/* ======== Profile ======== */

.btn_download_cv svg{
  display: inherit;
}

.section_profile{
  height: 100vh;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 104px;
}

.menu_profile li{
  cursor: pointer;
}

/* About profile */
.about_border li{
  width: 25%;
  height: auto;
  border-bottom:1px solid black ;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.about_border li img{
  margin-bottom: 15px;
  width: 50px;
}
.about_border li p{
  display: flex;
  justify-content: center;
}
